@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    --bg: #1a1a1a;
    --text: #fff;
    --white: #1a1a1a;
  }

  .light {
    --bg: #fafafb;
    --text: #1a2d62;
    --white: #ffffff;
  }
}
